{% extends 'base.html' %}

{% block content %}
    <h2>Certificates</h2>
    <ul>
        <li><strong>Designing and Implementing Microsoft DevOps Solutions:</strong> AZ-400, 2020</li>
        <li><strong>Microsoft Azure Solutions Architect Expert:</strong> AZ-303, AZ-304, 2020</li>
        <li><strong>Microsoft Azure Certified Professional:</strong> MCP(70-533), 2017</li>
        <li><strong>Docker Certified Professional:</strong> 2017</li>
        <li><strong>Administering and Deploying System Center 2012 Configuration:</strong></li>
    </ul>
{% endblock %}
