{% extends 'base.html' %}

{% block content %}
    <h2>Technologies</h2>
    <ul>
        <li>Cloud: AWS, Microsoft Azure, Kubernetes, Docker, Open Stack</li>
        <li>Automation: Ansible, Helm, Python, Powershell, JavaScript, Az/AWS CLI</li>
        <li>Infrastructure as Code: Terraform, AWS CDK, Azure Arm Template, CloudFormation, Ansible</li>
        <li>DevSecOps (CI/CD): Azure DevOps, Jenkins, BitBucket/GitLab, GitOps/Github Action, ArgoCD</li>
        <!-- Add more technologies as needed -->
    </ul>
{% endblock %}
