{% extends 'base.html' %}

{% block content %}
    <h2>Work Experience</h2>
    <ul>
        <li><strong>TEMUS PTE, Singapore - DevSecOps Lead:</strong> 
            <p>6th July 2022 - till date</p>
            <p>Effectively leading and managing a team while overseeing customer operations for business-as-usual (BAU) activities and strategically developing a roadmap for successful onboarding of new regions.</p>
        </li>
        <li><strong>CREDIT AGRICOLE, Singapore - DevOps Lead:</strong>
            <p>11th Jan 2022 - 5th July, 2022</p>
            <p>Conducted comprehensive interviews, led Scrum sprints, and implemented cross-functional DevOps practices supporting applications with practical approaches.</p>
        </li>
        <li><strong>CAPGEMINI INDIA - DevOps Manager:</strong>
            <p>18th Mar 2021 - 2nd Sep 2021</p>
            <p>Conducted interviews, provided organization-level training, and implemented advanced technologies for efficient software delivery.</p>
        </li>
        <!-- Add more work experiences as needed -->
    </ul>
{% endblock %}
